

<div class = "container col-md-6">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/contractor-dash-bord">Contractor DashBord</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
    <h1 style="color:black;" > Registration Your Company</h1>
    <h6 style="color: red;">This is a form for you to register your company</h6>
      <form class=" container" (ngSubmit) ="addContractorData()">
          <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label" style="color: rgb(12, 15, 17);">Copani Name</label>
              <input class="form-control" id ="name" name = "name" [(ngModel)] = "contractor.name">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label" style="color: rgb(16, 17, 19);">Address</label>
              <input class="form-control" id ="address" name = "address" [(ngModel)]= "contractor.address">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label" style="color: rgb(16, 17, 19);">Email</label>
              <input class="form-control" id ="email" name = "email" [(ngModel)]= "contractor.email">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label" style="color: rgb(16, 17, 19);">Password</label>
              <input class="form-control" id ="password" name = "password" [(ngModel)]= "contractor.password">
            </div>
            <button class="btn btn-primary" type="submit" >Register</button>
            <button class="btn btn-primary" type="submit" (click)="logout()" >Logout</button>
      </form>
  </div>

