<body>
<div class="container-fluid">
  <section>
    <div class="row">
      <div class="col-12 mt-3 mb-1">
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between p-md-1">
              <div class="d-flex flex-row">
                <div class="align-self-center">
                </div>
                <div>
                  <h4> Invoices</h4>
                  <p class="mb-0">How many Paid invoices you have</p>
                </div>
              </div>
              <div class="align-self-center">
                <h2 class="h1 mb-0" >{{ invoiceTotal() }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between p-md-1">
              <div class="d-flex flex-row">
                <div class="align-self-center">
                </div>
                <div>
                  <h4>Number Sub-Contractors</h4>
                  <p class="mb-0">Your Subcontractor</p>
                </div>
              </div>
              <div class="align-self-center">
                <h2 class="h1 mb-0">{{ subContractorTotal() }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between p-md-1">
              <div class="d-flex flex-row">
                <div class="align-self-center">
                  <h2 class="h1 mb-0 me-4">£{{calculateTotalPaidInvoices()}}</h2>
                </div>
                <div>
                  <h4>Total To Pay</h4>
                  <p class="mb-0">Money that you have pay your Sub-Contractors</p>
                </div>
              </div>
              <div class="align-self-center">
                <i class="fas fa-wallet text-success fa-3x"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between p-md-1">
              <div class="d-flex flex-row">
                <div class="align-self-center">
                  <h2 class="h1 mb-0 me-4">£{{calculateTotalSubContractorsTax()}}</h2>
                </div>
                <div>
                  <h4>Total Tax</h4>
                  <p class="mb-0">Taxes that need to be pay for Sub-Contractor</p>
                </div>
              </div>
              <div class="align-self-center">
                <i class="fas fa-wallet text-danger fa-3x"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-3 mb-1">
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between p-md-1">
              <div class="d-flex flex-row">
                <div class="align-self-center">
                </div>
                <div class =table>
                  <table>
                    <tr>
                      <th>Jobs</th>
                      <th>Status</th>
                    </tr>
                    <tbody>
                    <tr *ngFor="let jobName of addJobNames()">

                      <td>{{ jobName}}</td>
                      <td class="text-success">Active</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="align-self-center">
                <h2 class="h1 mb-0" ></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

</body>
