<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand">
    <img ngSrc="VFinance.ico" width="30" height="30" class="d-inline-block align-top" alt="">
    VFinance
  </a>
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @if (sessionStorage.getItem('role') == "CONTRACTOR") {
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/all-subContractors">Your Sub-Contractors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/subContractor">Create Sub-Contractors</a>
          </li>
        }
        @if (sessionStorage.getItem('role') == "SUBCONTRACTOR") {
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/create-invoice">Create Invoice</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/sub-contractor-info">Test Crud</a>
          </li>
        }
      </ul>

      @if (sessionStorage.getItem('token') != null) {
        <ul class="navbar-nav ml-auto action-buttons mb-2 mb-lg-0  ">
          <li class="nav-item">
            <a class=" nav-link " (click)="logout()">
              <i class="fa fa-user-os border-white "></i>Logout</a>
          </li>
        </ul>
      }
      <ul>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>



