
#myVideo {
  position: relative;
  resize:horizontal;
  min-width: 100%;
  min-height: 100%;
}
html, body {
  background-clip: var('/CVFinance.mp4');
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */

#myBtn:hover {
  background: #ddd;
  color: black;
}

/* Style the button used to pause/play the video */
#myBtnLogin {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtnSignUp {
  margin-left: 78%;
  width: 200px;
  left: auto;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}
