<div id="container" [formGroup]="form">
  <h1>Login</h1>
  <form>
    <div class="mb-3">
      <label class="form-label" style="color: rgb(12, 15, 17);">Email</label>
      <input class="form-control" id="email" name="email" [(ngModel)]="login.email">
    </div>
    <div class="mb-3">
      <label class="form-label" style="color: rgb(16, 17, 19);">Password</label>
      <input class="form-control" type="password" id="password" name="password" [(ngModel)]="login.password">
    </div>
    <button (click)="loginData()">Login</button>
  </form>
</div>
