<body>
<div class="container-fluid">
  <section>
    <div class="row">
      <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between p-md-1">
              <div class="d-flex flex-row">
                <div class="align-self-center">
                </div>
                <div>
                  <h4>Invoices</h4>
                  <p class="mb-0">How many Paid invoices you have</p>
                </div>
              </div>
              <div class="align-self-center">
                <h2 class="h1 mb-0">{{ invoiceTotal() }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between p-md-1">
              <div class="d-flex flex-row">
                <div class="align-self-center">
                </div>
                <div>
                  <h4>Tax Rule</h4>
                  <p class="m-0 text-primary">
                    Personal Allowance Up to £12,570 0%</p>
                  <p class="m-0 text-primary"> Basic rate £12,571 to £50,270 20%</p>
                  <p class="m-0 text-warning"> Higher rate £50,271 to £125,140 40%</p>
                  <p class="m-0 text-danger"> Additional rate over £125,140 45%</p>
                </div>
              </div>
              <div class="align-self-center">
                <h2 class="h1 mb-0">

                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between p-md-1">
              <div class="d-flex flex-row">
                <div class="align-self-center">
                  <h2 class="h1 mb-0 me-4">£{{ calculateTotalPaidInvoices() }}</h2>
                </div>
                <div>
                  <h4>Income</h4>
                  <p class="mb-0">Yor Income so far Contractor</p>
                </div>
              </div>
              <div class="align-self-center">
                <i class="fas fa-wallet text-success fa-3x"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between p-md-1">
              <div class="d-flex flex-row">
                <div class="align-self-center">
                  <h2 class="h1 mb-0 me-4">£{{ calculateTotalSubContractorsTax() }}</h2>
                </div>
                <div>
                  <h4>Total Taxes</h4>
                  <p class="mb-0">Taxes that have been paid by Contractor</p>
                </div>
              </div>
              <div class="align-self-center">
                <i class="fas fa-wallet text-danger fa-3x"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between p-md-1">
              <div class="d-flex flex-row">
                <div class="align-self-center">
                </div>
                <div>
                </div>
                <div class=table>
                  <table>
                    <tr>
                      <th>Jobs</th>
                      <th>Status</th>
                    </tr>
                    <tbody>
                    <tr *ngFor="let jobName of invoices">
                      <td>{{ jobName.jobName }}</td>
                      <td class="text-success">Active</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="align-self-center">
                <h2 class="h1 mb-0"></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</body>
