<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
  <title>Bootstrap Sign up Form with Icons</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="signup-form">
  <form method="post"  (ngSubmit)="createInvoice()">
    <h2>Create Invoice</h2>
    <p>Please fill in this form to create an Invoice!</p>
    <hr>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
					<span class="input-group-text">
						<span class="fa fa-address-card-o"></span>
					</span>
        </div>
        <input type="text" class="form-control" name="jobName" placeholder="Job Name" [(ngModel)]="invoice.jobName"  required="required">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-calendar"></i>
					</span>
        </div>
        <input type="date" class="form-control" name="date" placeholder="Date" [(ngModel)]="invoice.date"
               required="required">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-sort-numeric-asc"></i>
					</span>
        </div>
        <input type="text" class="form-control" name="days" placeholder="Amount of Days" [(ngModel)]="invoice.days" required="required">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-money"></i>
					</span>
        </div>
        <input type="text" class="form-control" name="amount" placeholder="Day Rate"  [(ngModel)]="invoice.amount" required="required">
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg">Create</button>
    </div>
  </form>
</div>
</body>
</html>
